[submodule "spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "lib/winds-aloft"]
	path = lib/winds-aloft
	url = https://github.com/FAA-Aviation-Data-Portal/winds-aloft
