[submodule "spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/rapidcsv"]
	path = lib/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "flight_src/mcu/lib/eigen"]
	path = flight_src/mcu/lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
